html {
  height: 100%;
  width: 100%;
}

body{
  background-color:black;
}
*{
  color: white;
}

.won>* {
  background-color: lime !important;
}

#new {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5vh;
  font-size: 3vmin;
}

.overtime>* {
  background-color: red !important;
}

.github {
  position: absolute;
  bottom: 0;
  right: 0;
}

#seedInput {
  position: absolute;
  bottom: 5vh;
  left: 0;
  height: 5vh;
  font-size: 3vmin;
}

button{
  background-color: #a1a1a1;
}
input{
  background-color: #a1a1a1;
}
input::placeholder{
  color: #c2c2c2;
  
}
